<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">CookBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" >
    <ul *showAuthed ="false" class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

    <ul *showAuthed="true"
        class="nav navbar-nav pull-xs-right">

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/editor"
            routerLinkActive="active">
            <i class="ion-compose"></i>&nbsp;New Recipe
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink = "/settings"
            routerLinkActive = "active">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img src="../../assets/images/{{currentUser.username}}/{{currentUser.image_name}}" *ngIf="currentUser.image_name" class="user-pic" />
            {{ currentUser.username }}
          </a>
        </li>

      </ul>

  </div>
  </div>
</nav>
