<div class="home-page">

  <div class="banner banner-home" *showAuthed="false">
    <div class="container">
      <h1 class="logo-font">CookBook</h1>
      <p>A place to share your <i>Recipies</i></p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item"
              [hidden] = "!isAuthenticated">

              <a class="nav-link-df"
                 [ngClass]="{'active-df': listConfig.type === 'user'}"
                 (click)="setListTo('user')">
                 Your Feed
              </a>
            </li>
            <li class="nav-item">
              <!-- OTHER VERSION <a class="nav-link"
                [ngClass]="{'active': listConfig.type === 'global' && !listConfig.filters.tag}"
                (click)="setListTo('global')">  -->
              <a class="nav-link-df"
                [ngClass]="{'active-df': listConfig.type === 'global'}"
                (click)="setListTo('global')">
                Global Feed
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.query">
              <a class="nav-link-df active-df">
                <i class="ion-pound"></i> {{ listConfig.query }}
              </a>
            </li>
          </ul>
        </div>
        <recipe-list  [config]="listConfig"></recipe-list>

      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <input class="form-control" type="text"placeholder="search by tags"#search (keyup.enter)="onEnter(search.value)">
        </div>
      </div>

    </div>
  </div>
</div>
